* {
    font-family: sans-serif;
}

#drawpad {
    border: 1px solid black;
    background: #333333;
    display: block;
}

#drawpad-handler {
    margin-top: 20px;
}

#drawpad-buttons {
    width: inherit;
    margin: 10px;
}

#clear_btn {
    alignment: left;
}

#save_btn {
    alignment: right;
}

#result {
    border: 1px solid black;
    background: #333333;
}